*.obj
.*.sw?
*.pdb
*.tlb
*.res
*.exe
*.manifest
*.exp
*.ilk
*.lib
*.udb
*.msi
*.wixobj
*.wixpdb
*.dll
*.o
nntpit
.clangd/
compile_commands.json
build-*/
a.out
autom4te.cache/
config.log
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
setup.h.in
.deps/
Makefile
config.status
setup.h
stamp-h1
